<%- include("../partials/header")%>

<div class="container">
	<div class="row">
		<h1 style="text-align:center;">Add a new Comment to <%= campground.name%></h1>

		<div class="form">
			<form action="/campgrounds/<%= campground._id%>/comments" method="POST">
				<div class="form-group">
					<textarea name="comment[text]" class="form-control" placeholder="Comment"  cols="30" rows="5"></textarea>
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">Submit!</button>
				</div>
			</form>
			<a href="/campgrounds">Go Back!</a> 

		</div>
		

	</div>

</div>



<%- include("../partials/footer")%>

